{% extends 'base.html' %}

{% load static %}

{% block styles %} 

{% endblock %}

{% block title%}Alimentos Santiago®{% endblock %}

{% block content %} 
    <!-- LOGO     BARRA DE BUSQUEDA      BARRA NAVEGACION-->
    <div class="container-fluid" id="barra_principal">
      <div class="row">
        <!-- LOGO -->
        <div class="container col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <!-- si voy a registro y aprieto el logo no puedo volver a inicio
          si lo saco y dejo "" no devuelve a inicio -->
          <a href="{% url 'inicio'%}"><img  class="logo" src="{% static 'img/Logo peludos shop.png'%}" alt="..." ></a>
        </div>
  
        <div class="ver-menu col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <p class="ver-menu">SANTIAGO ALIMENTOS</p>
        </div>
  
          <div class="usuario  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
  
            <div class="dropdown">
              {% if perfil != 'admin' and perfil != 'cliente' %}
                <a class="btn btn-primary" href="{% url 'iniciosesion' %}">Inicio Sesión</a>
                <a class="btn btn-primary" href="{% url 'registro' %}">Registrarse</a>
              {% else %}
                <!-- Button trigger modal -->
                  <button name="" id="" type="button" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    {{ request.user.username }}
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="staticBackdropLabel">Mi cuenta</h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <h3>Bienvenido {{ request.user.username }}</h3>
                          <hr>
                          <p><b>Correo electrónico:</b> {{ request.user.email }}</p>
                          {% if user_profile %}
                            <p><b>RUN :</b> {{ user_profile.run }}</p>
                            <p><b>Usuario :</b> {{ user_profile.role }}</p>
                          {% else %}
                            <p>No se ha encontrado el perfil del usuario.</p>
                          {% endif %}
                      </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        </div>
                      </div>
                    </div>
                  </div>
                <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
              {% endif %}
              <!-- imagen carrito -->
              <!-- <a href="">
                <button id="carrito1" type="button" class="btn" onclick="abrirCarrito()">
                  <img src="{% static 'img/carrito.png'%}" width="40px">
                  <span id="cantidadCarrito" class="badge bg-danger rounded-pill">0</span>
                </button>
              </a>
  
              <div class="modal fade" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="carritoModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="carritoModalLabel">Carrito de Compras</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-12">
                            <div id="carrito-contenido"></div>
                            <div id="carrito-total"></div>
                            <hr class="border border-danger border-2 opacity-50">
                            <button type="button" class="btn btn-secondary btn-pagar" data-bs-dismiss="modal">PAGAR</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        <!-- BARRA NAVEGACION -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary ">
            <div class="container-fluid">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <!-- <li class="nav-item item_arriba">
                    <a class="nav-link active" aria-current="page" href="#OFERTAS"><img src="{% static 'img/icono2.png'%}" width="30px">OFERTAS</a>
                  </li> -->
                  <li class="nav-item item_arriba">
                    <a class="nav-link active" aria-current="page" href="{% url 'menu' %}"><img src="{% static 'img/icono2.png'%}" width="30px">PRODUCTOS</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div> <!--container-fluid-->

  <div class="container" id="CCO"> 
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="{% static 'img/promocion1.png'%}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/promocion2.png'%}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static 'img/promocion3.png'%}" class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div> <!--div col-->
      </div>
    </div>
  </div>

  
  <!-- CARUUSEL -->
  <div class="container" id="CCO">
    <div class="row">
      
      <!-- CIRCULOS  --> 
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center">
        <img class="img-circulo" src="{% static 'img/Chile.png'%}" alt="" width="200px">
        <p class="p-img-circulo">CHILE</p>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center">
          <img class="img-circulo" src="{% static 'img/China.png'%}" alt="" width="200px">
          <p class="p-img-circulo">CHINA</p>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center">
          <img class="img-circulo" src="{% static 'img/Peru.png'%}"alt="" width="200px">
          <p class="p-img-circulo">PERU</p>
      </div>
      <div class="col-6 col-sm-6 col-md-3 col-lg-3 col-xl-3 text-center">
          <img class="img-circulo" src="{% static 'img/Italia.png'%}" alt="" width="200px">
          <p class="p-img-circulo">ITALIA</p>
      </div>
      <hr>


      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- CARUUSEL -->
        <div class="lo-mas-vendido">
          <h1>Lo más vendido</h1>
          <hr>
        </div>
        <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="d-flex flex-row">
                {% for plato in platos %}
                <div class="col mx-2">
                  <div class="card">
                    {% if plato.imagen %}
                      <img src="{{ plato.imagen.url }}" class="card-img-top img-carrusel1" alt="...">
                    {% else %}
                      <span>No hay foto disponible</span>
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ plato.nombre_producto }}</h5>
                      <p class="card-text">{{ plato.descripcion }}</p>
                      <center><a href="{% url 'detalle_plato' plato.id %}" class="btn btn-custom-purple">Ver Plato</a></center>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-row">
                {% for plato in platos %}
                <div class="col mx-2">
                  <div class="card">
                    {% if plato.imagen %}
                      <img src="{{ plato.imagen.url }}" class="card-img-top img-carrusel1" alt="...">
                    {% else %}
                      <span>No hay foto disponible</span>
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ plato.nombre_producto }}</h5>
                      <p class="card-text">{{ plato.descripcion }}</p>
                      <center><a href="{% url 'detalle_plato' plato.id %}" class="btn btn-custom-purple">Ver Plato</a></center>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="carousel-item">
              <div class="d-flex flex-row">
                {% for plato in platos %}
                <div class="col mx-2">
                  <div class="card">
                    {% if plato.imagen %}
                      <img src="{{ plato.imagen.url }}" class="card-img-top img-carrusel1" alt="...">
                    {% else %}
                      <span>No hay foto disponible</span>
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ plato.nombre_producto }}</h5>
                      <p class="card-text">{{ plato.descripcion }}</p>
                      <center><a href="{% url 'detalle_plato' plato.id %}" class="btn btn-custom-purple">Ver Plato</a></center>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        
      </div> <!--div col-->
    </div> <!--div row-->
  </div> <!--div container-->


  <!--VER MAS -->
  <!-- <div class="container" id="CCO"> -->
    <!-- <div class="vermas-arriba-circulos">
      <a href="{% url 'menu' %}">
        <button class="btn btn-custom-purple ">Ver mas</button>
      </a>
    </div> -->
    <!-- <br>
    <div class="row"> -->
      <!-- OFERTAS -->
      <!-- <div class="col-12 " id="OFERTAS">
        <h1>OFERTAS</h1>
        <div class="container cont-cartas ">
          {% for plato in platos %}

          <div class="card" style="width: 18rem;">

            {% if plato.imagen %}
                <img src="{{ plato.imagen.url }}" class="card-img-top producto-imagen" alt="Imagen del plato">
            {% else %}
                <span>No hay foto disponible</span>
            {% endif %}

            <div class="card-body">
              <h5 class="card-title">{{ plato.nombre_plato }}</h5>
              <hr>
              <p class="card-text">{{ plato.descripcion }}</p>
              <p class="card-text"> $ {{ plato.precio }} </p>
              <center><a href="{% url 'detalle_plato' plato.id  %}" class="btn btn-custom-purple">Ver Plato</a></center>
            </div>
          </div>
          <br>
          {% endfor %} -->

          <!-- Hasta aqui es para obtener los datos de los productos desde la base de datos -->
          
            <!-- <div class="col col-sm-6 col-md-4 col-lg-4 col-xl-3">
              <div class="card h-100">
                <img src="{% static 'img/1366_2000 (1).jpg'%}" class="card-img-top producto-imagen" alt="...">
                <div class="card-body">
                  <h5 class="card-title">ALMUERZO</h5>
                  <p class="card-text">Escribir la descripcion aqui</p>
                  <p class="producto-precio">$6.990</p>
                </div>
                <button type="button" class="btn btn-custom-purple producto-agregar" data-id="1">Agregar al carrito</button>
              </div>
            </div> -->
            <!-- esta es la carta que funciona con el carrito para tener como ejemplo -->

          <!-- </div>
        </div>
      </div> -->
    <!-- </div> div row -->
  <!-- </div> div container -->


  <!-- CARUUSEL DE ABAJO-->
  <div class="container" id="CCO">
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <!-- CARUUSEL COMENTARIOS CLIENTES-->
        <div class="lo-mas-vendido">
          <h1>Comentarios de los clientes</h1>
        </div>
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="4000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="carousel-item" data-bs-interval="4000">
              <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card h-100">
                    <div class="card-body">
                      <h5 class="card-title">Comentarios</h5>
                      <p>⭐⭐⭐⭐⭐</p>
                      <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe, soluta?</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        </div><!--div col-->
      </div> <!--div row-->
      </div> <!--div container-->
{% endblock %}
