{% extends 'base.html' %}

{% load static %}

{% block styles %} 

{% endblock %}

{% block title%}Alimentos Santiago{% endblock %}

{% block content %} 
    <!-- LOGO     BARRA DE BUSQUEDA      BARRA NAVEGACION-->
    <div class="container-fluid" id="barra_principal">
        <div class="row">
          <!-- LOGO -->
          <div class="container col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!-- si voy a registro y aprieto el logo no puedo volver a inicio
            si lo saco y dejo "" no devuelve a inicio -->
            <a href="{% url 'inicio'%}"><img  class="logo" src="{% static 'img/Logo.png' %}" alt="..." ></a>
          </div>
    
          <div class="ver-menu col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <p class="ver-menu">SANTIAGO ALIMENTOS</p>
          </div>
    
            <div class="usuario  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
    
              <div class="dropdown">
                {% if perfil != 'admin' and perfil != 'cliente' %}
                  <a class="btn btn-primary" href="{% url 'iniciosesion' %}">Inicio Sesión</a>
                  <a class="btn btn-primary" href="{% url 'registro' %}">Registrarse</a>
                {% else %}
                  <!-- Button trigger modal -->
                    <button name="" id="" type="button" class="btn btn-primary" role="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                      {{ request.user.username }}
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Mi cuenta</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <h3>Bienvenido {{ request.user.username }}</h3>
                            <hr>
                            <p><b>Correo electrónico:</b> {{ request.user.email }}</p>
                            {% if user_profile %}
                              <p><b>RUN :</b> {{ user_profile.run }}</p>
                              <p><b>Saldo : $</b> {{ user_profile.saldo }}</p>
                              <p><b>Usuario :</b> {{ user_profile.role }}</p>
                              <p><b>Empresa : </b>{% for empresa in empresas %}
                                                    {{ empresa.nombre }}
                                                  {% endfor %}</p>
                            {% else %}
                              <p>No se ha encontrado el perfil del usuario.</p>
                            {% endif %}
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                {% endif %}
                <!-- imagen carrito -->
                <!-- <a href="">
                  <button id="carrito1" type="button" class="btn" onclick="abrirCarrito()">
                    <img src="{% static 'img/carrito.png'%}" width="40px">
                    <span id="cantidadCarrito" class="badge bg-danger rounded-pill">0</span>
                  </button>
                </a>
    
                <div class="modal fade" id="carritoModal" tabindex="-1" role="dialog" aria-labelledby="carritoModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="carritoModalLabel">Carrito de Compras</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="container">
                          <div class="row">
                            <div class="col-12">
                              <div id="carrito-contenido"></div>
                              <div id="carrito-total"></div>
                              <hr class="border border-danger border-2 opacity-50">
                              <button type="button" class="btn btn-secondary btn-pagar" data-bs-dismiss="modal">PAGAR</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          <!-- BARRA NAVEGACION -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary ">
              <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <!-- <li class="nav-item item_arriba">
                      <a class="nav-link active" aria-current="page" href="#OFERTAS"><img src="{% static 'img/icono2.png'%}" width="30px">OFERTAS</a>
                    </li> -->
                    <li class="nav-item item_arriba">
                      <a class="nav-link active" aria-current="page" href="{% url 'menu' %}"><img src="{% static 'img/icono2.png'%}" width="30px">MENÚ</a>
                    </li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div> <!--container-fluid-->

      <div class="container">
        <div class="contenedor_pago col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <br>
          <h3>Realizando pago</h3>
          <hr>
        <form method="post" action="{% url 'pago' %}" class="form_pago">
          {% csrf_token %}
          <br>
          <div class="form-group">
              <label for="despacho">Tipo de Despacho</label>
              <select name="despacho" id="despacho" class="form-control">
                  <option value="retiro_tienda">Retiro en Tienda</option>
                  <option value="domicilio">Despacho a Domicilio</option>
              </select>
          </div>
          <br>
          <div id="direccion-domicilio" style="display: none;">
              <div class="form-group">
                  <label for="direccion">Dirección de entrega</label>
                  <input type="text" name="direccion" id="direccion" class="form-control">
              </div>
          </div>
          <br>
          <div class="form-group">
              <label for="metodo_pago">Método de Pago</label>
              <select name="metodo_pago" id="metodo_pago" class="form-control">
                  <option value="saldo">Saldo</option>
              </select>
          </div>
          <br>
          <br>
          <button type="submit" class="btn btn-custom-purple">Confirmar Pago</button>
          
      </form>
      <br>

      </div>
    </div>
    
    
      <script>
        // Mostrar campos de dirección si se selecciona "Despacho a domicilio"
        document.getElementById('despacho').addEventListener('change', function() {
            var option = this.value;
            if (option === 'domicilio') {
                document.getElementById('direccion-domicilio').style.display = 'block';
            } else {
                document.getElementById('direccion-domicilio').style.display = 'none';
            }
        });
    </script>
    
{% endblock %}
