.separador{
    height: 50px;
}

.registro{
    display: flex;
    flex-direction: column;
    align-items: center; 
}

  /* .color1 {color: #060610;}
   .color2 {color: #292e40;}
   .color3 {color: #595b76;}
   .color5 {color: #666294;}
   .color4 {color: #8e8aba;}
   .color5 {color: #cdbae5;} 
   .color5 {color: #ebdaff;} */

.texto-registro{
    text-align: center;
    font-family: "Oswald";
    padding-top: 4%;
    padding-bottom: 1%; 
    border-bottom: 1px solid white;
    background-color: #366985;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.div-input{
    height: 70%;
    margin-bottom: 5%;
    padding: 3% 3% 3% 3%; 
    background-color: #366985;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input{
    align-items: center;
}

.form-label, .texto-registro{
    color: white;
}





