{% extends 'base.html' %}

{% load static %}

{% block styles %} 
    <link rel="stylesheet" href="{% static 'styles-login.css' %}">
{% endblock %}

{% block title %}Inicio Sesión | Peludos Shop®{% endblock %}

{% block content %}
<!-- LOGO     BARRA DE BUSQUEDA      BARRA NAVEGACION-->
<div class="container-fluid" id="barra_principal">
    <div class="row">
        <!-- LOGO -->
        <div class="container col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <a href="{% url 'inicio' %}"><img class="logo" src="{% static 'img/Logo peludos shop.png'%}" alt="..."></a>
        </div>

        <div class="ver-menu col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <p class="ver-menu">PELUDOS SHOP</p>
        </div>

        <div class="usuario  col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <div class="dropdown">
                {% if perfil != 'admin' and perfil != 'cliente' %}
                <a class="btn btn-primary" href="{% url 'iniciosesion' %}">Inicio Sesión</a>
                <a class="btn btn-primary" href="{% url 'registro' %}">Registrarse</a>
                {% else %}
                <a name="" id="" class="btn btn-primary" href="#" role="button">{{ request.user.username }}</a>
                <a class="btn btn-primary" href="{% url 'logout' %}">Cerrar sesión</a>
                {% endif %}
            </div>
        </div>
        <!-- BARRA NAVEGACION -->
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary ">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavDropdown">
                        <ul class="navbar-nav">
                            <li class="nav-item item_arriba">
                                <a class="nav-link active" aria-current="page" href="{% url 'inicio' %}"><img
                                        src="{% static 'img/icono2.png'%}" width="30px">INICIO</a>
                            </li>
                            <li class="nav-item item_arriba">
                                <a class="nav-link active" aria-current="page" href="{% url 'menu' %}"><img
                                        src="{% static 'img/icono2.png'%}" width="30px">MENÚ</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div> <!--container-fluid-->

<div class="container registro">
    <div class="separador"></div>
    <div class="texto-registro col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h3>Inicio sesión</h3>
    </div>

    <div class="div-input col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="InputUsuario" class="form-label">Usuario</label>
                <input type="text" class="form-control input" id="InputUsuario" name="InputUsuario"
                    placeholder="Ejemplo_123">
            </div>
            <div class="mb-3">
                <label for="InputPassword1" class="form-label">Contraseña</label>
                <input type="password" class="form-control input" id="InputPassword1" name="InputPassword1"
                    placeholder="***************">
            </div>

            <!-- Mostrar mensajes de error o éxito -->
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </div>
            {% endif %}
            
            <center><button type="submit" class="btn btn-light">Enviar</button></center>
        </form>
    </div>
</div>

{% endblock %}
