/* TODA LA PAGINA */
.container{
    padding: 5px;
    font-family: "Oswald";
  }
  /* LOGO */
  .logo{
    width: 150px;
    margin-top: -10px;
  }
  /* BARRA DE BUSQUEDA LUPA CARRITO Y USUARIO */
  .navbar{
    border-radius: 5px;
    box-shadow: 0px 0px 5px 3px rgba(75, 75, 75, 0.5);
    margin-top: 5px;
  }
  
  .usuario{
    display: flex;
    justify-content: end;
    margin-top: 33px;
  }
  
  /* COLOR DEL background DE LA BARRA PRINCIPAL */
  #barra_principal{
    background-color: #133F57;
    padding-bottom: 25px;
  }
  
  .ver-menu p{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    font-size: 23px;
    color: aliceblue;
    font-family: "Oswald";
  }
  
  .plato-del-dia {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    background: #366985;
    color: aliceblue;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  .imagen-plato-dia img{
    width: 43%;
    border-radius: 50px;
  }
  
  .plato-del-dia button{
    border-radius: 20px;
    padding: 5px 10px;
    background: #4698c4;
    border: none;
  }
  
  .plato{
    margin-left: 25%;
  }
  
  
  .plato-del-dia button a{
    text-decoration: none;
    color: aliceblue;
  }
  
  .plato-del-dia button:hover{
    background: #62adf9;
    transition: ease-in-out .3s;
  }
  /*Imagen de la parte superior de las paginas*/
  .imagen-top img{
    margin-top: 15px;
    border-radius: 20px;
  }
  
  .lo-mas-vendido h1{
    text-align: center;
    margin-top: 25px;
    margin-bottom: 45px;
  }
  
  .vermas-arriba-circulos{
    text-align: center;
  
  }
  .vermas-arriba-circulos button{
    border-radius: 20px;
    padding: 5px 10px;
    background: #366985;
    border: none;
    margin-top:25px;
  }
  
  .vermas-arriba-circulos button a{
    text-decoration: none;
    color: aliceblue;
  }
  
  /* BORDE DEL CARRUSEL */
  .carousel-inner{
    border-radius: 10px;
  
  }
  .img-carrusel1{
    width: 100%;
    height: 350px;
  }
  
  
  /* LOS CIRCULOS PARA LAS FOTOS DE INICIO*/
  .img-circulo{
    border-radius: 100%;
    border: 7px solid #133F57;
    width: 150px;
    margin-top: 25%;
    box-shadow: 0px 0px 10px 3px #62adf9;
    margin-bottom: 25px;
    
  }
  /* CIRCULO PARA CADA APARTADO*/
  .img-circulo-accesorio{
    border-radius: 100%;
    border: 7px solid #133F57;
    width: 150px;
    box-shadow: 0px 0px 10px 3px #62adf9;
    margin-top: 35px;
  }
  
  /* centrar letras de la barra circulos */
  .p-img-circulo{
    text-align: center;
    margin-bottom: 50px;
  }
  
  /* PARA QUITARLE LA BARRITA A LAS LETRAS DE LOS CIRCULOS */
  .p-img-circulo a{
    text-decoration: none;
    color: #133F57;
    font-size: 20px;
  }
  .p-img-circulo a:hover{
    color: #366985;
  }
  
  
  
  
  /* COLORES DE LOS BOTONES DE SUSCRIPCION */
  .boton-suscripcion a{
    text-decoration: none;
    color: white;
  }
  
  .ingresa-direccion{
      font-size: 13px;
      margin:0 0 0 0;
      color: gray;
    }
  /* TAMAÑO Y TIPO DE LETRAS DE LA BARRA DE PRINCIPAL */
  .nav-item{
    padding: 5px 30px 5px 30px;
    font-family: "Oswald";
    font-size: 20px;
  }
  
  /* PARA PONER LOS BOTONES PURPURA */
  .btn-custom-purple {
    background-color: #366985;
    border-color: #195474;
    color: white;
    border-radius: 20px;
    width: 150px;
    margin:auto;
    margin-bottom: 10px;
    }
   /* COLORES DE LOS PRECIOS */
  .btn-custom-purple:hover{
    background-color: #bee0ff;
  }
  
  .btn-primary{
    background-color: #1f61bc;
    color: white;
    border-radius: 20px;
    width: 120px;
    height: 42px;
    padding-top: 7px;
  }
  
  .btn-light{
    background-color: #133F57;
    color: white;
    border-radius: 30px;
    width: 120px;
    height: 42px;
    padding-top: 7px;
    box-shadow: 0px 0px 1px 1px #bee0ff;
    border: none;
    margin-top: 20px;
  }

/* .color1 {color: #060610;}
   .color2 {color: #292e40;}
   .color3 {color: #595b76;}
   .color4 {color: #8e8aba;}
   .color5 {color: #cdbae5;} */
  
  
  .boton-morado{
    width: 48%;
  
    /*TMAÑO PARA TODAS LAS IMAGENES DE LOS PRODUCTOS */
  }
  .producto-imagen{
    height: 220px;
  }
  
  .col-lg-4 .producto-imagen {
    height: 220px;
  }
  
  
  .cont-cartas{
    margin-top: 15px;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding-bottom: 50px;
    box-shadow: 0px 0px 5px 3px rgb(163, 163, 163);
    margin-bottom: 25px;
  }
  .cont-cartas h3{
      padding: 20px;
  }
  
  .modal{
    box-shadow: 0px 0px 5px 3px rgb(163, 163, 163);
  }
  
  
  /*FOOTER*/
  .footer{
    background-color: #133F57;
    color: azure;
    padding: 80px 50px 80px 50px;
    margin-top: 20px;
  
  }
  /* PARA DARLE UN MARGEN AL LOGO DEL FOOTER */
  .footer img{
    margin-bottom: 50px;
  }
  
  .footer a{
    color: azure;
    display: block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 15px 0 0 0;
    margin-bottom: 10px;
    margin-top: 10px;
  
  }
  .footer a:hover{
    text-decoration: underline;
  
  }
  .footer h5{
    font-family: Oswald;
    margin-top: 20px;
  }
  
  #siguenos{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    text-align: center;
  }
  
  .social-media{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }
  
  .social-media-icon{
      display: inline-block;
      margin-left: 20px;
      width: 50px;
      height: 50px;
      border:1px solid #fff;
      border-radius: 50%;
      text-align: center;
      color: white;
  }
  
  .social-media-icon:hover{
      background: white;
      color:#195474;
  }
  
  .social-media-icon i{
      font-size: 30px;
      line-height: 20px;
  
  }
  .c-reservados{
    padding: 10px;
    text-align: center;
    background-color: #103548;
    color: azure;
  }
  
  
  /* Estilos de Nosotros */
  
  .img-about-us{
    border-radius: 100%;
    border: 7px solid #195474;
    width: 80%;
    margin-top: 5%;
    box-shadow: 0px 0px 10px 3px #C6D4DC;
    margin-bottom: 5%;
  }
  
  
 /* .color1 {color: #060610;}
   .color2 {color: #292e40;}
   .color3 {color: #595b76;}
   .color4 {color: #8e8aba;}
   .color5 {color: #cdbae5;} */
  
  .c-about-us{
    text-align: justify;
    text-decoration: double;
  
  }
  
  .cont-about-us{
    margin-top: 25px;
  
  }
  
  h3{
    display: flex;
    justify-content: center;
    
  }
  
  /*MARGEN DE AYUDA A LA FUNDACION*/
  .bg-body-secondary{
    margin-top: 25px;
  }
  
  /*CARRITO*/
  .carrito-fila {
    margin-bottom: 1rem;
  }
  
  .carrito-producto {
    display: flex;
    align-items: center;
    margin-right: 1rem;
  }
  
  .carrito-imagen {
    margin-right: 3rem;
    margin-left: 2rem;
  }
  
  
  /* VIDEO*/
  .ratio-16x9 {
    margin-bottom: 120px;
    max-width: 500px; /* Ajusta el tamaño máximo del video */
    height: auto; 
    position: relative; /* Necesario para el posicionamiento absoluto del iframe */
    right: 0%;
  }
  /* VIDEO*/
  .ratio-16x9 iframe {
    position: absolute;
    top: 30%;
    left: 0%;
    width: 100%;
    height: 100%;
    border-radius: 50px;
  }
  
  .btn-pagar{
    background: #195474;
  }
  
  
  .modal-content{
    background-color: white;
  }
  
  .modal_R{
    color: #195474;
  }
  
  .boton{
    width: 30%;
    background-color: #195474;
    color: white;
    border: none;
    border-radius: 4px;
    margin-left: 35%;
  } 
  
  .errores{
    background: red;
    color: #fff;
    display: none;
    font-size: 14px;
    margin-top: -80px;
    margin-left: 340px;
    padding: 10px;
    position: absolute;
  }
  span{
    color: red;
  }
  
  .cont-cartas{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px 30px 0px;
  }
  
  .img-fluid{
    border-radius: 10%;
  }
  
  
  .form_pago{
    width: 50%;
    text-align: center; 
    margin-left: 25%;
    margin-left: 25%;
  }
  
  .form_carrito{
    width: 50%;
    margin-left: 25%;
    margin-left: 25%;
  }
  
  .btn-danger{
    border-radius: 20px;
    width: 150px;
    margin:auto;
    margin-bottom: 10px;
  }
  
  .btn-success{
    border-radius: 20px;
    width: 150px;
    margin:auto;
    margin-bottom: 10px;
  }
  
  .btn-secondary{
    border-radius: 20px;
    width: 150px;
    margin:auto;
    margin-bottom: 10px;
  }
  
  .badge-dark{
    border-radius: 20px;
    width: 35px;
  }
  
/* .color1 {color: #060610;}
   .color2 {color: #292e40;}
   .color3 {color: #595b76;}
   .color4 {color: #8e8aba;}
   .color5 {color: #cdbae5;} */