.container{
padding: 5px;
font-family: "Oswald";
}

.logo{
width: 90px;
margin-top: 12px;

}
.navbar{
border-radius: 5px;
box-shadow: 0px 0px 5px 1px rgba(75, 75, 75, 0.5);
margin-top: 15px;
box-shadow: 1px 1px 5px 1px gray;
}

#barra_principal{
background-color: #8e8aba;
padding-bottom: 15px;
font-family: "Oswald";
}

#barra_principal h1{
    margin-left: 41%;
}

#barra_principal2{
background-color: #8e8aba;
padding-bottom: 15px;
margin-bottom: 50px;
font-family: "Oswald"
}



/* PARA PONER LOS BOTONES PURPURA */
form  .btn-custom-purple {
    background-color: #8e8aba;
    border-color: #8e8aba;
    border-radius: 20px;
    margin:auto;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
    }
   /* COLORES DE LOS PRECIOS */
form   .btn-custom-purple:hover{
    background-color: #cdbae5;
}
  
.boton-morado{
    width: 48%;
}





.footer{
    background-color: #8e8aba;
    color: azure;
    padding: 80px 50px 80px 50px;
    margin-top: 20px;
  
  }
  /* PARA DARLE UN MARGEN AL LOGO DEL FOOTER */
  .footer img{
    margin-bottom: 50px;
  }
  
  .footer a{
    color: azure;
    display: block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    padding: 15px 0 0 0;
    margin-bottom: 10px;
    margin-top: 10px;
  
  }
  .footer a:hover{
    text-decoration: underline;
  
  }
  .footer h5{
    font-family: Oswald;
    margin-top: 20px;
  }
  
  #siguenos{
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 20px;
    text-align: center;
  }
  
  .social-media{
      display: flex;
      justify-content: center;
      margin-top: 50px;
  }
  
  .social-media-icon{
      display: inline-block;
      margin-left: 20px;
      width: 50px;
      height: 50px;
      border:1px solid #fff;
      border-radius: 50%;
      text-align: center;
      color: white;
  }
  
  .social-media-icon:hover{
      background: white;
      color:#8e8aba;
  }
  
  .social-media-icon i{
      font-size: 30px;
      line-height: 20px;
  
  }
  .c-reservados{
    padding: 10px;
    text-align: center;
    background-color: #595b76;
    color: azure;
  }