.rectangulo-derecho {
    box-shadow: 0px 0px 20px 1px #8CAABA;
    border-radius: 20px;
    padding: 20px;
    background-color: #ffffff;
    position: static;
    top: 20px; /* Ajusta según la distancia desde el borde superior */
    height: fit-content; /* Para que el tamaño se ajuste al contenido */
    margin-top: 4%;
}

.rectangulo{
    margin-bottom: 4%;
}

h3{
    padding: 5px;
    font-family: "Oswald";
  }